@model OrderModel

<h1>Checkout</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Sipariş Detayı</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" asp-action="Checkout">
            <div class="mb-3">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class=form-control>
            </div>
            <div class="row">
                <div class="col">
                     <label asp-for="@Model.City"></label>
                     <input asp-for="@Model.City" class=form-control>
                </div>
               <div class="col">
                     <label asp-for="@Model.Phone"></label>
                     <input asp-for="@Model.Phone" class=form-control>
                </div>
                <div class="col">
                     <label asp-for="@Model.Email"></label>
                     <input asp-for="@Model.Email" class=form-control>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.AddressLine"></label>
                <textarea asp-for="@Model.AddressLine" class=form-control></textarea>
            </div>
            </div>
            <h4 class="my-3">Ödeme Bilgileri</h4>
             <div class="row">
                <div class="col">
                     <label asp-for="@Model.CartName"></label>
                     <input asp-for="@Model.CartName" class=form-control>
                </div>
               <div class="col">
                     <label asp-for="@Model.CartNumber"></label>
                     <input asp-for="@Model.CartNumber" class=form-control>
                </div>
            </div>
             <div class="row">
                <div class="col">
                     <label asp-for="@Model.ExpirationMonth"></label>
                     <input asp-for="@Model.ExpirationMonth" class=form-control>
                </div>
               <div class="col">
                     <label asp-for="@Model.ExpirationYear"></label>
                     <input asp-for="@Model.ExpirationYear" class=form-control>
                </div>
                <div class="col">
                     <label asp-for="@Model.Cvc"></label>
                     <input asp-for="@Model.Cvc" class=form-control>
                </div>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-4">
        <h4 class="mb-3">Sipariş Özeti</h4>
        <ul class="list-group" mb-3>
            @foreach(var item in Model.Cart.Items)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>@item.Product.Name x @item.Quantity</h6> 
                    </div>
                    <span>@item.Product.Price.ToString("c")</span>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between">
                <span>Toplam: </span>
                <strong>@Model.Cart.CalculateTotal().ToString("c")</strong>
            </li>
        </ul>
    </div>
</div>